body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: #efefef;
  border-top: 1px solid #afafaf;
  padding:10px;
}

.users {
  position: absolute;
  top: 20px;
  right: 25px;
  text-align: right;
}
.messages {
  overflow-y: scroll;
  max-height: calc(100vh - 184px);
}
.copy {
  position: absolute;
  bottom: 90px;
  right: 25px;
  text-align: right;
  color: #898584;
}