body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: #efefef;
  border-top: 1px solid #afafaf;
  padding:10px;
}

.users {
  position: absolute;
  top: 20px;
  right: 25px;
  text-align: right;
}
.messages {
  overflow-y: scroll;
  max-height: calc(100vh - 184px);
}
.messages .mine {
  float:right;
  background-color: #0084ff;
  color:#ffffff;
}
.messages li {
  float:left;
  display: inline-block;
  padding:5px 10px;
  background-color: #efefef;
  border-radius: 6px;
  clear:both;
}
.online-users {
  list-style: none;
}
.online-users li {
  padding-left: 35px;
}
.online-users .typing {
  background: url('/22.gif') transparent left center no-repeat;
  background-size: 30%;
}
.copy {
  position: absolute;
  bottom: 90px;
  right: 25px;
  text-align: right;
  color: #898584;
}